.profile__edit-button {
  grid-area: edit-button;
  margin: 38px 0 0 15px;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid white;
}

@media screen and (max-width: 1100px) and (min-width: 767px){
  .profile__edit-button {
    justify-self: start;

  }
}

@media screen and (max-width: 768px){
  .profile__edit-button {
    margin: 35px 0 0;
    width: 18px;
    height: 18px;
    justify-self: start;
  }
}
