.profile__edit-button {
  grid-area: edit-button;

  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid white;
}

/*@media screen and (max-width: 1100px) and (min-width: 769px){
  .profile__edit-button {
    justify-self: start;

  }
}

@media screen and (max-width: 768px) and (min-width: 425px){
  .profile__edit-button {
    justify-self: start;
    margin: 35px 0 0;
  }
}*/

@media screen and (max-width: 424px){
  .profile__edit-button {
    margin: 0;
    width: 18px;
    height: 18px;
  }
}
