.popup__input {
  width: 100%;
  margin: 15px auto 6px;
  padding: 8px 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
