.popup__container {
  position: relative;
  display: grid;
  margin: 0 auto;
  box-sizing: border-box;
  width: 682px;
  column-gap: 8px;
  row-gap: 8px;
  grid-template-columns: 32px calc(100% - 80px) 32px;
  grid-template-areas:
    ". . close"
    ". form .";
}

@media screen and (max-width: 767px){
  .popup__container {
    width: 282px;
    grid-template-columns: 100%;
    grid-template-areas:
      "close"
      "form";
  }
}

@media screen and (max-width: 424px){
  .popup__container {
    margin: 77px auto;
    row-gap: 16px;
  }
}

