.profile {
  display: grid;
  margin: 0 auto;
  padding: 34px 0 0;
  box-sizing: border-box;
  grid-template-columns: 120px 328px calc(100% - 120px - 328px - 150px) 150px;
  grid-template-areas:
    "avatar title edit-button add-button"
    "avatar subtitle subtitle add-button";
}

  @media screen and (max-width: 600px) and (min-width: 424px){
    .profile {
      padding: 40px 0 0;
      justify-items: center;
      grid-template-columns: 120px 200px calc(100% - 120px - 200px);
      grid-template-areas:
        "avatar title edit-button"
        "avatar subtitle ."
        "add-button add-button add-button";
    }
  }

@media screen and (max-width: 425px){
  .profile {
    grid-template-columns: 90% 10%;
    grid-template-areas:
      "avatar ."
      "title edit-button"
      "subtitle ."
      "add-button add-button";
  }
}
