.content{
  position: relative;
  margin: 0 auto;
  padding: 0 200px 0;
}

@media screen and (max-width: 1024px) and (min-width: 768px){
  .content {
      padding: 0 100px 0;
  }
}

@media screen and (max-width: 767px){
  .content {
    padding: 0 20px 0;
  }
}

