.profile__avatar {
  grid-area: avatar;
  width: 120px;
  min-width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  opacity: 1;
  transition: opacity 1.5s ease-in;
  cursor: pointer;
}

.profile__avatar:hover {
  opacity: .2;
}
